<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" [formGroup]="RegistrationForm" (ngSubmit)="Register()">
				<div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="text" name="username" class="login__input" formControlName="userName" placeholder="User name" autocomplete="off">
                    <div *ngIf="RegistrationForm.get('userName')?.invalid && RegistrationForm.get('userName')?.dirty">
                       <div *ngIf="RegistrationForm.get('userName')?.errors?.['required']">UserName is required.</div> 
                    </div>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-user"></i>
					<input type="email" name="email" class="login__input" formControlName="email" placeholder="Email" autocomplete="off">
                    <div *ngIf="RegistrationForm.get('email')?.invalid && RegistrationForm.get('email')?.dirty">
                       <div *ngIf="RegistrationForm.get('email')?.errors?.['required']">Email is required.</div> 
                       <div *ngIf="RegistrationForm.get('email')?.errors?.['email']">Invalid email</div> 
                    </div>
				</div>
				<div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="password" class="login__input" formControlName="password" placeholder="Password" autocomplete="off">
                    <div *ngIf="RegistrationForm.get('password')?.invalid && RegistrationForm.get('password')?.dirty">
                        <span *ngIf="RegistrationForm.get('password')?.errors?.['required']">Password is required.</span> 
                     </div>
				</div>
                <div class="login__field">
					<i class="login__icon fas fa-lock"></i>
					<input type="password" name="confirmPassword" class="login__input" formControlName="confirmPassword" placeholder="Password">
                    <div *ngIf="RegistrationForm.get('confirmPassword')?.invalid && RegistrationForm.get('confirmPassword')?.dirty">
                        <span *ngIf="RegistrationForm.get('confirmPassword')?.errors?.['passWordMismatch']">Password do not match.</span> 
                     </div>
				</div>
				<button class="button login__submit" type="submit" >
					<span class="button__text">Register Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>	
                <button class="button login__submit" [routerLink]="['/login']" type="button" >
					<span class="button__text">Log In Now</span>
					<i class="button__icon fas fa-chevron-right"></i>
				</button>				
			</form>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>
